<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/menustyle.css">

    <title> Admin </title>
  </head>
  <body style="background-color: rgb(185, 191, 204);">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class=" rounded navbar-brand text-dark bg-warning p-2" href="/adminpage">Mohan Hasitals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item active">
            <a class="nav-link" href="/adminpage">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/addpatient">addpatient</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/adminregister">adminregister</a>
          </li>

          <li class="nav-item">
            <a class="rounded d-inline-block m-auto p-1 nav-link bg-danger text-light" href="/logout">logout</a>
          </li>

        </ul>
      </div>
    </nav>


